:root{
    --dark: #0323A8;
    --large-font: large;
    --light-green: #90EE90;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: aliceblue;
    padding: 2%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    padding: 1%;
}

nav a{
    color: inherit;
}

nav a:hover {
    color: var(--dark);
}

section{
    display: flex;
}

.sub-title{
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
    width: 100%;
    color: white;
    padding: 30px;
}

#sub-title-heading{
    display: flex;
    justify-content: right;
    font-size: var(--large-font);
    background: var(--light-green);
    padding: 5px;
}

article{
    display: flex;
    border: black solid 5px;
}

.card{
    flex: 1 0 0;
    padding: 10px;
}