:root{
    --dark: #0323A8;
    --large-font: large;
    --light-green: #90EE90;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: aliceblue;
    padding: 2%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.my-photo-container{
    display: flex;
    max-width: 20%;
}
#my-photo-image{
    max-width: 100%;
    height: auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    padding: 1%;
}

nav a{
    color: inherit;
}

nav a:hover {
    color: var(--dark);
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h2{
    font-size: x-large;
    padding: 1%;
}
.sub-title{
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
    width: 100%;
    color: white;
    padding: 30px;
    justify-content: right;
}

#sub-title-heading{
    font-size: var(--large-font);
    background: var(--light-green);
    padding: 5px;
}

.about-me{
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
    
    
}

#about-me-title{
    padding: 10px;
    background-color: cornflowerblue;
}
#about-me-text{
    flex-wrap: wrap;
    padding: 10px;
    background-color: lightcyan;
}

.my-work{
    /* flex-wrap: nowrap; */
    background-color: lightpink;
}

#my-work-title{
    flex-wrap: wrap;
    padding: 10px;
}

#my-work-images{
    flex-wrap: wrap;
}

.card{
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

.card img{
    width: 100%;
}