:root{
    --dark: #0323A8;
    --large-font: large;
    --light-green: #90EE90;
}
/* Primary container for page */
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* contains a photo of me, a title and  nav links*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: aliceblue;
    padding: 2%;
    flex-wrap: wrap;
}
/* Fun Lightsaber */

.lightsaber{
    position: relative;
    color: #fff;
    padding-right: 100px;
}

/* removes the checkbox styling and we only see the hilt of the lightsaber */
.lightsaber input[type="checkbox"]{
    opacity: 0;
}

/* The lightsaber hilt */
.lightsaber label{
    display: block;
    position:absolute;
    height: 15px;
    width: 50px;
    background: linear-gradient(
        to right,
        rgba(226, 226, 226, 1) 0%,
        rgba(219, 219, 219, 1) 50%,
        rgba(209, 209, 209, 1) 51%,
        rgba(254, 254, 254, 1) 100%
    );
    border-left: solid 4px gray;
    border-right: solid 4px gray;
    border-radius: 5px;
}

/* Lightsaber blade */
.lightsaber .plasma {
    position:absolute;
    transition: 0.3s;
    border-radius: 12px 12px 0 0;
    background: rgb(135, 220, 90);
    background: linear-gradient(
    to left, 
    rgb(135, 220, 90) 0%, 
    rgb(254, 254, 254) 30%, 
    rgb(254, 254, 254) 50%, 
    rgb(254, 254, 254) 70%, 
    rgb(135, 220, 90) 100%
    );
    width:0px;
    height: 10px;
    left: 50px;
    bottom:15px;
    filter: blur(2px);
}

/* Open and close the lightsaber */
.lightsaber input[type="checkbox"]:checked ~ .plasma{
    width: 250px;
}

/** Main section of the page where about me, work and contact sections are located */
main{
    display: flex;
    flex-wrap: wrap;
}

/** My photo figure container */
.my-photo-container{
    display: flex;
    max-width: 10%;
}

/* My photo the image */
#my-photo-image{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Navigation list for page sections and my resume */
nav ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    padding: 1%;
}

nav a{
    color: inherit;
}

nav a:hover {
    color: var(--dark);
}

/* Section defaults */
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* H2 title defaults */
h2{
    font-size: x-large;
    padding: 1%;
}
/** Subtitle section */
.sub-title{
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
    width: 100%;
    color: white;
    padding: 30px;
    justify-content: space-evenly;
}

#sub-title-heading{
    font-size: var(--large-font);
    background: var(--light-green);
    padding: 5px;
}

/** About me section */
.about-me{
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
    
    
}

#about-me-title{
    padding: 10px;
    background-color: cornflowerblue;
}
#about-me-text{
    flex-wrap: wrap;
    padding: 10px;
    background-color: lightcyan;
}

/** Section is for my work tags, classes and ids. */
.my-work{
    /* flex-wrap: nowrap; */
    background-color: lightpink;
    padding: 10px;
    
}

.my-work article{
    display: flex;
    justify-content: space-between;
}


#my-work-title{
    width: 10%;
    padding: 10px;
}

/* Article ID containing the images */
#my-work-images{
    flex-wrap: wrap;
}

/* The other projects class is for all other projects not including the first div project which will be a larger image than another. */
.other-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** Each card has a title, image, link to the project/site, and a caption */
.card{
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 0 0 400px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    flex-wrap: wrap;
}

.card h3{
    background-color: lightyellow;
    width: 100%;
}

.card img{
    width: 100%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
}

.card caption{
    max-height: 100%;
}

/* The first image or project is going to be larger than the others and will be contained in it's own div. */
.first-project{
    display: flex;
    justify-content: center;
    width: 100%;
}

/** This makes the first project image larger than the others */
.first-project figure{
    flex: .5 .5 400px;
}
/* *Contact Me section. Includes a title and contact information in a ul. */
.contact-me{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
/* Phone email and github contact information */
.contact-me ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    padding:50px;
}



footer{
    display: flex;
    justify-content: center;
    width: 100%;
}